header.tweeter-head {
  margin-top: 140px;
  height: 400px;
  width: 100%;
  color: #646565;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}