header.tweeter-head {
  width: 100%;
  margin-top: 120px;
  color: white;
  background-color: #646565;
  background-image: url('../images/45-degree-fabric-light.png');
  font-size: 80%;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.account-name {
  margin: 0;
  display: flex;
  justify-content: center;
}
