.new-tweet {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0px 0px 1.5em 0px;
}

.new-tweet h2 {
  visibility: hidden;
  margin-bottom: 0;
  border-bottom: solid #4a4750 3px;
}

form {
  position: relative;
}

.tweet-text {
  outline: none;
  resize: none;
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 3px solid #4a4750;
  background: none;
  height: 45px;
  font-weight: bold;
}

input {
  display: absolute;
  bottom: 0;
  left: 0;
  border: none;
  background-color: #4056a1;
  color: white;
  font-family: 'Bungee', cursive;
  margin: 10px;
}

span.counter {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 85%;
  font-family: 'Bungee', cursive;
  padding: 10px;
}

.red {
  color: red;
}