.older-posts {
  padding: 0px;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  border: 3px solid #4a4750;
  font-size: 14px;
  box-sizing: border-box;
  height: auto;
  margin: 2em;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  height: 33%;
  padding: 3px 20px 3px 20px;
  vertical-align: middle;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: .8,

}

.user{
  font-size: 26px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.post-poster {
  font-size: large;
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
}

.old-tweets {
  height: 33%;
  vertical-align: middle;
  padding: 3px 20px 3px 20px;
}

.tweet-footer {
  border-top: 3px solid #4a4750;
  margin: auto;
  width: 98%;
  height: 33%;
  display: flex;
  justify-content: space-between;
  padding: 3px 12px 3px 12px;
}

.posted-time {
  vertical-align: middle;
  margin: 0;
}

.icons {
  color: #4056A1;
  opacity: .8;
}



/* Selector's */

.tweet-container:hover {
  box-shadow: 10px 10px #C5CBE3;
}